<!doctype html>
<html lang="en-us">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>TreeHugr - Thank You!</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="./static/production.css">

    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">

    <link rel="shortcut icon" href="./static/assets/favicon.ico">

</head>

<body class="has-animations">

<div class="page-border">
    <div class="bg--white">

        <header class="align--center pt3 pb2">
            <div class="container">
                <h1 class="mb3 reveal-on-scroll is-revealing" title="Huddle"><img src="./static/assets/img/logo.svg" alt="Huddle"></h1>
                <h2 class="mb3 reveal-on-scroll is-revealing">The mobile app for finding trees.</h2>
<!--                <p class="mb1">14 - 19 March 2019</p>-->
<!--                <p>Stockholm, Sweden</p>-->
            </div>
        </header>

        <main>
            <div class="container">

                <section class="pt3 pb3 align--center">
                    <h3 class="mb2">Thank You!</h3>
                    <p class="mb3">Your tree information has been submitted successfully.</p>
                    <p>Feel free to explore more trees on our app!</p>

                    <a href="/"><p> Home </p> </a>
                </section>

            </div>
        </main>

    </div>
</div>

<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

<script src="./static/production.js"></script>

</body>
</html>
