<!-- templates/users.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree Table</title>
     <a href="/tree_table.html">
      <h1 class="mb3 reveal-on-scroll is-revealing" title="Huddle"><img src="./static/assets/img/logo.svg" alt="Huddle"></h1>
    </a>
    <h2 class="mb3 reveal-on-scroll is-revealing">The mobile app for finding trees.</h2>


      <section>
      <a href="/">
    <p class="mb1">Home</p>
          </a>

      <a href="/tree_table.html">
    <p class="mb1">Tree Table</p>
          </a>

      <a href="/form_page.html">
    <p class="mb1">Submit A Tree</p>
          </a>
      </section>
</head>
<section>
<body>
    <h1>Tree Table</h1>
    <table>
        <thead>
            <tr>
                <th>Species</th>
                <th>PLACEHOLD</th>
            </tr>
        </thead>
        <tbody>
            {% for tree in trees %}
                <tr>
                    <td>{{ tree.species }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</section>
</html>